SUPABASE_URL=https://zbppznuwwcjdbdbkexyq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpicHB6bnV3d2NqZGJkYmtleHlxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTg0OTc3NCwiZXhwIjoyMTAxNDI1Nzc0fQ.g7hUOAPIO0asmMoJrKInO5J7pLILCoxXwsbanG4Hg3E